{% if pagination.pages > 1 %}
  <nav role="navigation" class="flex justify-center items-center my-8">
    {% if pagination.previous %}
      <a
        href="{{ pagination.previous.url }}"
        class="border border-textColor2 bg-textColor2 text-white hover:bg-white hover:text-textColor2 px-8 py-3 mx-1 rounded-sm font-medium"
        >Previous</a
      >
    {% endif %}


      <a
        href="{{ pagination.next.url }}"
        class="border border-textColor2 bg-textColor2 text-white hover:bg-white hover:text-textColor2 px-8 py-3 mx-1 rounded-sm font-medium"
        >Next</a
      >
  
  </nav>
{% endif %}
