<div class="w-full py-6 px-3">
  <div class="bg-bgGlass shadow-ShadowGlass border-bdGlass rounded-radiusGlass border-solid overflow-hidden">
    {{ 'product-2' | placeholder_svg_tag: 'w-[90%] h-[90%] object-center rounded-lg' }}
    <div class="text-center py-6 px-5 gap-y-5">
      <div class="text-[1.5em] text-textColor2 font-semibold font-sans mb-6">Product Title</div>
      <div class="text-[1rem] text-gray-400 border-bdGlass">Product Vendor</div>
      <div class="text-[1rem] text-gray-600">Product Description</div>
      <div class="text-[1rem] text-black font-medium mt-6">{{ 8888 | money }}</div>
    </div>
  </div>
</div>
