<div class="px-4 py-8">
  <div class="w-full">
    <a href="{{ routes.collections_url }}" class="inline-flex gap-x-3 justify-center items-center">
      {% render 'arrow-left' %}
      <p class="text-gray-400 text-[1em] z-0 drop-shadow-2xl">Go back to collections</p>
    </a>
  </div>
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    </div>
    <div>
      {% render 'pagination', pagination: paginate %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Template Collections",
  "settings": [
    {
      "type": "range",
      "id": "number_of_products_per_page",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Number of Products per Page",
      "default": 6
    }
  ]
}
{% endschema %}
