<script defer src="{{ 'header.js' | asset_url }}"></script>

{% assign menuOfLinkList = linklists[section.settings.menu].links %}

<header class="relative bg-white" x-data="{ mobileIsOpen: false }">
  <div class="relative mx-auto px-4 w-full sm:px-6 bg-bgGlass shadow-ShadowGlass border-bdGlass rounded-radiusGlass border-solid">
    <div class="sm:justify-between flex justify-center items-center py-6 md:justify-start md:space-x-10">
      {% comment %} STORE NAME {% endcomment %}
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate text-textColor">{{ section.settings.store_title }}</h1>
      </div>

      {%- comment -%} navigational links   onclick="handleOpenChildLink()" {%- endcomment -%}
      {% render 'nav-menu', menuOfLinkList: menuOfLinkList %}

      {% comment %}  for hamburger menu and close menu {% endcomment %}
      <div class="relative">
        <button
          x-on:click="mobileIsOpen = ! mobileIsOpen"
          type="button"
          class="flex md:hidden cursor-pointer"
          id="hamburger-menu"
        >
          {% render 'hamburger-menu' %}
        </button>
      </div>

      {% comment %}  cart, login and register {% endcomment %}

      <div class="hidden relative md:flex items-center justify-end md:flex-1 space-x-5 gay-x-[50%]">
        <div
          id="search-bar-field"
          class="none absolute right-20 z-10 py-2 border-gray-100 border-2 shadow-inner block w-[80%] rounded-lg"
        >
          <form action="{{ routes.search_url }}" method="get" class="w-full h-full inline-flex">
            <input
              type="search"
              name="q"
              placeholder="Search..."
              class="w-full h-full bg-white outline-none px-4 font-bold text-textColor"
              autocomplete="off"
            >
            <button type="submit" class="mr-2">
              {% render 'arrow-right' %}
            </button>
          </form>
        </div>
        <button
          id="search-icon"
          class="whitespace-nowrap text-base text-textColor2 hover:text-gray-500 font-semibold"
        >
          {% render 'search-icon' %}
        </button>

        <a
          href="{{ routes.cart_url }}"
          class="relative whitespace-nowrap text-base text-textColor2 hover:text-textHover font-semibold"
        >
          <div class="absolute top-0 mt-4 flex justify-center items-center drop-shadow-2xl bg-orange-300 rounded-full w-[1.5em] h-[1.5em]">
            <p id="cart-counts" class="text-gray-900 font-bold"></p>
          </div>

          {% render 'shopping-cart' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="#" class="text-base  text-textColor2 hover:text-textHover font-semibold">Login</a>
          <a href="#" class="text-base  text-textColor2 hover:text-textHover font-semibold">Register</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% comment %}  Mobile View Dropdown menu {% endcomment %}
  {% render 'mobile-menu', menuOfLinkList: menuOfLinkList %}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "store_title",
      "label": "Title",
      "default": "Your Store Name",
      "info": "This is title for store name"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
