{% if section.settings.selected_image != blank %}
  <div class="relative w-full h-[500px] flex justify-center mt-10 z-0">
    <img
      src="{{ section.settings.selected_image | image_url: "master" }}"
      loading="lazy"
      width="auto"
      height="auto"
      class="w-[90%] h-full object-cover opacity-90"
    >
    <div class="absolute bottom-10 border-textColor2 bg-white px-5 py-2 shadow-2xl border-2">
      <a href="{{ routes.all_products_collection_url }}" class=" text-textColor2 font-2xl">Shop now</a>
    </div>
  </div>
{% else %}
  <div class="w-full h-[500px] flex justify-center mt-10 z-0">
    {{ 'lifestyle-1' | placeholder_svg_tag: 'w-[90%] h-[90%] object-center rounded-lg' }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Image Banner",
  "class": "image-for-homepage",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Select Image"
    },
    {
      "type": "image_picker",
      "label": "Pick Your Image",
      "id": "selected_image"
    }
  ],
  "presets": [
    {
      "name": "Image for Homepage",
      "category": "Image"
    }
  ]
}
{% endschema %}
